.features {
  // background-color: #f06595;
  grid-row: features-start / features-end;
  grid-column: center-start / center-end;

  margin: 15rem 0;
  color: #222;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;

  &__icon {
    grid-row: 1/-1;
    width: 4.5rem;
    height: 4.5rem;
    display: inline-block;
    fill: $color-primary-dark;
  }
  &__text {
    padding: 1rem;
    font-size: 1.3rem;
    grid-column: 2/-1;
  }
}
