.story {
  &__pictures {
    grid-row: story-start/story-end;
    grid-column: full-start/ col-end 4;


    background-color: #3bc9db;
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.4),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      grid-row: story-pictures-start/story-end;
      grid-column: full-start/ full-end;
    }
  }

  &__img-1 {
    width: 100%;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);

    grid-column: 2 /6;
    grid-row: 2/6;
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 /5;
    }
  }
  &__img-2 {
    width: 115%;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);

    grid-row: 4/6;
    grid-column: 4 /-1;
    @media only screen and (max-width: $bp-small) {
      width: 100%;
      grid-row: 4/6;
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    padding: 6rem 8vw;
    grid-row: story-start/story-end;
    grid-column: col-start 5 / full-end;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      grid-row: story-start/story-content-end;
      grid-column: full-start/ full-end;
    }
  }

  &__text {
    color: $color-secondary;
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
}
